* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
}

nav {
  margin: 0 10px;
  height: 69px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
}

nav img {
    height: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

nav ul a {
    color: seashell;
}
