* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
}

nav {
  margin: 0 10px;
  height: 69px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
}

nav img {
  height: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

nav ul a {
  color: seashell;
}

main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission {
  background-image: url(images/img-mission-background.jpg);
  background-size: cover;
  border: 1px solid green;
  height: 700px;
  opacity: 0.9;
  margin: 0px 20px;
  display: flex;
  width: 1200px;
  align-items: center;
  margin-bottom: 80px;
}

.content {
  background-color: black;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.content h1 h4 {
  color: red;
}

.rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 1000px;
  border: 1px solid red;
  text-align: center;
  
}

.title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rank .images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.rank img {
    width: 300px;
    height: 200px;
}
.rank p {
    font-weight: bold;
    color: seashell;
}
